.footer_wrapper {
    background-color: var(--primary-1);
}
.footer {
    grid-area: 3 / 1 / 4 / 2;
    color: var(--primary-3);
    display: flex;
    padding: 0.5rem;
    margin: 15px 0;
    border-top: 2px solid var(--primary-2);
}
.left {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 0.5rem;
    gap: 0.5rem;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.nav ul {
    flex: 1 0 auto;
    font-size: 0.9rem;
    min-width: 200px;
}
.nav li {
    list-style-type: none;
    line-height: 2;
}

.form_wrapper {
    width: 40%;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: var(--primary-1);
    color: var(--primary-3);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.input_wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.input_wrapper input {
    width: 100%;
    padding: 0.3rem;
    height: 1.5rem; /* Высота каждого input */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}
.input_wrapper input::placeholder {
    font-size: 0.7rem;
    vertical-align: middle;
    line-height: 1.5;
    color: var(--secondary-1);
}

.input_wrapper input:focus {
    border-color: #007bff;
    outline: none;
}

.textarea_wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(1.5rem * 9 + 0.3rem * 8); /* Высота всех input минус один */
}

.textarea_wrapper textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    resize: none;
    transition: border-color 0.3s ease;
    height: calc(100% - 1.8rem); /* Учет высоты кнопки (2rem) и gap (0.3rem) */
}

.textarea_wrapper textarea:focus {
    border-color: #007bff;
    outline: none;
}

.textarea_wrapper button {
    padding: 0.2rem;
    background-color: var(--primary-2);
    color: var(--primary-1);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 1.5rem; /* Высота кнопки равна высоте одного input */
}

.textarea_wrapper button:hover {
    background-color: #0056b3;
}

.form_bottom {
    margin-top: 3rem;
}

.socials_wrapper {
    color: var(--primary-3);
    margin: 15px 0;
    padding: 0.5rem;
    border-bottom: 2px solid var(--primary-2);
}

@media (max-width: 989px) {
}

@media (max-width: 788px) {
    .footer {
        flex-direction: column;
    }
    .left {
        width: 100%;
        flex-direction: column-reverse;
    }
    .form_wrapper {
        width: 60%;
    }
}
@media (max-width: 658px) {
}
@media (max-width: 536px) {
    .form_wrapper {
        width: 80%;
    }
}
@media (max-width: 472px) {
    .form_wrapper {
        width: 100%;
    }
}
@media (max-width: 435px) {
}
@media (max-width: 360px) {
}

.yellow_title {
    color: var(--primary-2);
}
