.header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--primary-1);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    min-height: auto;
    z-index: 3;
}

.main_row {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4px 0;
    padding: 0 1rem;
    border-top: 2px solid var(--primary-2);
    border-bottom: 2px solid var(--primary-2);
}
.main_top_row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.img_wrap {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: start;
    align-self: center;
    width: 132px;
    /* height: 33px; */
}
.img_wrap img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.toun_img {
    display: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.label_1 {
    color: var(--primary-3);
    text-align: center;
    letter-spacing: 3.5px;
    font-weight: bolder;
}
.yellow_span {
    color: var(--primary-2);
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 3.5px;
    font-size: 1.5rem;
}
.name_span {
    letter-spacing: 3.5px;
    font-size: 1.5rem;
}
.label_1_bottom {
    display: flex;
    gap: 1rem;
}
.underline_span {
    text-decoration: underline;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-self: end;
}
.label_2 {
    font-size: 0.8rem;
    color: var(--primary-5);
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

.green_span {
    color: var(--primary-6);
    text-decoration: underline;
    text-decoration-color: var(--primary-6);
}

.nav {
    display: none;
}
.btn_wrapper {
    display: none;
    align-items: center;
    gap: 10px;
    justify-self: flex-end;
}

@media (max-width: 989px) {
    .yellow_span {
        font-size: 1.2rem;
    }
    .name_span {
        font-size: 1.2rem;
    }
    .label_2 {
        display: none;
    }
    .btn_wrapper {
        display: flex;
    }
}

@media (max-width: 788px) {
    .label_1 {
        font-size: 0.9rem;
    }
    .yellow_span {
        font-size: 0.9rem;
    }
    .name_span {
        font-size: 0.9rem;
    }
}
@media (max-width: 658px) {
    .label_1 {
        display: none;
    }
    .main_top_row {
        display: grid;
        grid-template-columns: 1fr 4fr;
        justify-items: start;
        gap: 0.5rem;
    }
}
@media (max-width: 536px) {
    .img_wrap {
        width: 110px;
        /* height: 28px; */
    }
}
@media (max-width: 472px) {
    .img_wrap {
        width: 90px;
        /* height: 23px; */
    }
}

@media (max-width: 360px) {
    .img_wrap {
        width: 70px;
        /* height: 18px; */
    }
}
