.main_container {
    width: 100%;
    height: 190px;
    display: flex;
    align-items: center;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}

.all_pages_container {
    height: 100%;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0 0 0;
    transition: transform 300ms ease-in-out;
}

.item_wrapper {
    flex: 0 0 240px;
    height: 240px;
    max-width: 240px;
    max-height: 160px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid var(--primary-2);
    border-radius: 0.5rem;
}
.item_wrapper img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}
.item_wrapper img:hover {
    transform: scale(1.2);
}
