.button {
    width: 100%;
    max-width: 127px;
    padding: 0.5rem 1rem;
    background-color: var(--primary-5);
    color: var(--primary-3);
    border: none;
    border-radius: 0.5rem;
    font-size: 0.8rem;

    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    transition: all 0.5s;
    text-transform: uppercase;
}

.button:hover {
    transform: scale(1.005);
    filter: drop-shadow(1px 1px 20px var(--primary-5));
}
.button:disabled {
    border: 1px solid var(--primary-3);
    background-color: var(--primary-3);
    color: #fff;
}
