.button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: var(--primary-2);
    color: var(--primary-1);
    border: 5px double var(--primary-1);
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    margin: 0.5rem 0;
    transition: all 0.5s;
    text-transform: uppercase;
}

.button:hover {
    transform: scale(1.005);
    filter: drop-shadow(1px 1px 20px var(--primary-2));
}
.button:disabled {
    border: 1px solid var(--primary-3);
    background-color: var(--primary-3);
    color: #fff;
}
