.footer__icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.icons {
    color: var(--primary-0);
    width: 25px;
    height: 25px;
}
.link__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__link {
    padding: 5px 10px;
    margin: 0;
}
